<div class="row">
  <div class="col-md-8">
    <h3 class="">Posts list</h3>

    <div>
      <a class="btn btn-primary" routerLink="/posts/add">Add Post</a>
    </div>

    <table class="table table-striped" *ngIf="posts$ | async as postsData">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of postsData">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/posts/edit', post.id]">Update</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>



<!--<div class="row">
  <div class="col-md-12">
    <h3>Posts list</h3>
    <table class="table table-striped"></table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of (posts$ | async) ">
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.description}}</td>
      </tr>
    </tbody>
  </div>
</div>-->
